body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #90E0EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  height: 42px;
}

@media screen and (max-width: 720px) {
  .header {
    flex-direction: column;
    overflow: visible;
    align-items: center;
    height: 90px;
  }

  .nav {
    background-color: #CAF0F8;
  }
}

@media screen and (max-width: 400px) {
  .header {
    flex-direction: column;
    overflow: visible;
    align-items: center;
    height: 70px;
  }

  .nav {
    background-color: #CAF0F8;
  }

  .nav-item {
    font-size: 0.915rem;
  }

  .about {
    margin-top: -20px;
  }
}